/** 
 * TODO Step 0b: 
 * Implement Navbar.css using the old_styles.css file
 * Remember: styles in React use the component in their style name (ex: .navContainer --> .NavBar-container)
 * .<old style> --> .<Component>-<style-name>
 * 
 */

.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
}

.NavBar-link {
  color: var(--white);
  font-size: 1.2em;
  margin: 0 var(--s) 0 var(--s);
}
